@import "tailwindcss";

:root {
  /* Dark-first colors */
  --background: #020617; /* very dark slate */
  --foreground: #e5e7eb; /* light gray */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox: hide scrollbar */
}

body {
  background-color: var(--background);
  color: var(--foreground);
  -ms-overflow-style: none; /* IE/Edge: hide scrollbar */
}

/* Chrome/Safari/Edge: hide scrollbar */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}